@import "@/styles/main.scss";

$spacing-values: $spaces;

$button-font-sizes: (
  "small": 4,
  "regular": 5,
  "large": 6,
) !default;
$button-paddings: (
  "small": 9px space(2),
  "regular": space(2),
  "large": 14px space(2),
) !default;

.od-button {
  border-radius: borderRadius(10);
  height: fit-content;
  border: 0;
  min-width: fit-content;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  :global .icon-left {
    &:has(+ span) {
      margin-right: space(1);
    }
  }
  :global .icon-right {
    margin-left: space(1);
  }
}

.is-squared {
  border-radius: borderRadius(1);
}

@each $sizeName, $sizeValue in $button-font-sizes {
  .is-#{$sizeName} {
    @include fontSize($sizeValue);

    padding: map-get($button-paddings, $sizeName);
  }
}

@each $id, $val in $colors {
  .is-#{$id} {
    background: $val;
    &.is-outlined,
    &.is-blank {
      background-color: transparent;
      color: var(--foreground);
    }
    &.is-outlined {
      border: 1px solid $val;
    }
  }
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
